@{
    Layout = "~/Views/Layout/LayoutPage.AnguLarjs.cshtml";
}
<div class="Contentbody" >
 
<div class="alert alert-danger">
  <h3>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="font-size: 30px;"></span>
  您的權限無法執行此作業!</h3>
</div>


</div>

